<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Archive</h1>
      
  </header>
  <hr>
  <div class="content">
    <% for (let blog of blogs) { %>
      
      
      <div class="card ">
        <div class="card-body">
         
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-test">
              <%= blog.synopsis %>
            </p>>
            <a href = "/blogs/<%=blog.id %>">more...</a>
        </div></div>
        <% 
    } %> 
  </div>
</div>

<%- include ('../partials/footer') %>